* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  font-family: century gothic;
}

body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
}

body.quiz {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

body.result {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  width: 100%;
  padding: 30px;
  background: linear-gradient(90deg,  #0e85c5 0%, #228ac2 100%);
  color: #fff;
  height: fit-content;
}

.quiz .header {
  min-width: fit-content;
  width: 30%;
  padding: 30px;
  background: linear-gradient(90deg,  #0e85c5 0%, #228ac2 100%);
  color: #fff;
  height: 100vh;
  opacity: 0.95;
}

  .center {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  .content-box {
    padding: 40px;
    width: 80%;
    margin: 0px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #dbdbdb;
  }

  .center-bonus{
    margin: 20px 40px;
  }
  
  .hiddenbutton2{
    position: absolute;
    background:none;
    border:none;
    color: transparent;
    right: 0;
    bottom: 50%;
    font-size: 20px;
    padding: 20px;
  }
  
  .hiddenbutton1{
    position: absolute;
    background:none;
    border:none;
    color: transparent;
    left: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
  }
  .next,
  .hintbutton{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #e74e0e;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 11px;
  
  }
  
  #result{
    margin-left: 21px;
  }

  .homepagetitle{
    margin-left: 21px;
    margin-top: 21px;
  }
  
  h2 {
    font-weight: normal;
  }

  h4 {
    margin-top: 20px;
    font-weight: normal;
  }
ul{
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-bottom: 25px;
}
  .white {
    color: white;
  }
