* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .header {
    width: 100vw;
    padding: 30px;
    background-color: aqua;
  }

  .center {
    padding: 150px;
  }
