.html-select{
    width: fit-content;
}

.bonusquestion{
    font-size: 25px;
    border: 2px black solid;
}

.information{
    float: right;
    margin-top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
}

