.center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
}

.bar {
    background-color: black;
    height: 30px;
}

.progress {
    width: 0px;
    height: 30px;
    background-color: green;
    transition: width 2s;
}

.progressBar {
    width: 100%;
}