.center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
}

.bar {
    background-color: #00000027;
    height: 30px;
    margin-top: 10px;
}

.progress {
    width: 0px;
    height: 30px;
    background-color: #1c85bc;
    transition: width 2s;
}

.progressBar {
    width: 100%;
}