.result {
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.bar {
    width: 1000px;
    background-color: black;
    height: 30px;
}
.progress {
    position: absolute;
    width: 100px;
    height: 30px;
    z-index: 1;
    background-color: green;
}